@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap");

* {
  --grey: #232f42;
  --green: #67dda3;
  --yellow: #fad50a;
  --white: #fafaf9;
  --blue: #3385fb;
  box-sizing: border-box;
}

.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: var(--grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  header {
    animation: move infinite 10s ease;
  }
}
header {
  border: var(--yellow) solid 1px;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
}

h1 {
  color: var(--blue);
  margin: 10px 0px 0px 0px;
  font-family: "Roboto Mono", monospace;
}

h2 {
  color: var(--blue);
  margin: 0px 0px 20px 0px;
  font-family: "Roboto Mono", monospace;
}

.photo {
  height: 40vmin;
  pointer-events: none;
  border: var(--green) solid 25px;
  border-radius: 15px;
  margin: 20px;
}

.question {
  border: var(--yellow) solid 1px;
  border-radius: 15px;
  margin: 10px;
  padding: 0px 20px 0px 20px;
  width: 60vw;
  font-family: "Roboto Mono", monospace;
}

.question:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

.link {
  color: var(--blue);
  margin: 10px;
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 15px;
}

.expanded {
  margin: 10px;
  padding: 10px;
  background-color: var(--green);
  color: var(--grey);
  font-size: 0.69em;
  border-radius: 15px;
  border: 1px solid var(--white);
  text-align: left;
  font-family: Arial, sans-serif;
  line-height: 1.25em;
}

.portfolio {
  margin: 10px;
  padding: 10px;
  background-color: var(--green);
  color: var(--grey);
  font-size: 0.69em;
  border-radius: 15px;
  border: 1px solid var(--white);
  text-align: center;
  font-family: Arial, sans-serif;
}

.sites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
